@import url("fonts.css");


* {
    box-sizing: border-box;
}
    
body {font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 2500px;
    padding: 0;
    margin: 0 auto;
}
.header {
    background-color: #131313;
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__container {
    min-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 47px;
}
.header__link1 {
    font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   color: #E3B873;
   text-decoration: none;
}
.header__link {
    font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   color: #FFFFFF;
   text-decoration: none;
}
.header__call {
   display: flex;
   gap: 45px;
   align-items: center;
}


.number{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline; 
    color: #E3B873;
 }
 .header__btn {
     background: #E3B873;
     box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
     border-radius: 2px;
     cursor: pointer;
     border: none;
     text-transform: uppercase;
     width: 161px;
     min-height: 37px;
 }
 .btn-text {
     font-style: italic;
     font-weight: 400;
     font-size: 11px;
     line-height: 15px;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
 }
 .block-1 {
    background-image: url(../images/jpg/image-1.jpg);
    min-height: 707px;
    background-size: cover;
    position: relative;
    padding-top: 194px;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}
.block-1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}
.block-1__wrapper {
    width: 1172px;
}
.block-1__info {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: -25px;
}
.block-1-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 550px;
    margin-bottom: 5px;
}
.block-1-span {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.block-1-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
}
.block-1-btn {
    display: flex;
    gap: 20px;
}
.block-1__btn-1 {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 207px;
    height: 51px;
    cursor: pointer;
} 
.block-1__btn-2 {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 207px;
    height: 51px;
    background-color: transparent;
    cursor: pointer;

}
.btn-text-1 {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.btn-text-2 {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.block-2__mobile {
    display: none;
}
.block-2 {
    min-height: 1074px;
    background-color: #131313;
    padding-top: 107px;
    display: flex;
    justify-content: center;
    margin-top: -1px;
} 
.block-2__container {
    display: flex;
    gap: 50px;
}
.block-2__text {
    display: flex;
    flex-direction: column;
}
.block-2__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
    margin-bottom: 34px;
    margin-top: 69px;
}
.block-2__info {
    width: 442px;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}
.block-2__section {
    display: grid;
    grid-template-columns: 161px 213px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 40px;
    margin-bottom: 79px;
    margin-top: -30px;
}
.block-2__info2 {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.block-2__subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.block-2__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.block-2__arrows {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-top: -60px;
}
.block-2__arrow {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.block-2__dots {
    display: flex;
    gap: 18px;
}
.block-2__line {
    border: none;
    border-top: 1px solid #E3B873;;
    margin-top: -50px;
    margin-bottom: 47px;
    width: 92px;
    margin-right: 170px;
}
.slider__dots {
    width: 10px;
    min-height: 10px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
a {
    text-decoration-line: none;
    color: #FFFFFF;
}

a:hover, a:active, .link-active {
    text-decoration: underline;
    color: #E3B873;
}
.slider__dots:hover, .slider__dots:active {
    background-color: #FFFFFF;
}
.block-2__img {
    display: flex;
    flex-direction: column;
    gap: 53px;
}
.block-2__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
}
.block-2__link1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border: none;
}
.block-2__link {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: transparent;
    border: none;
}
